.splash {
  // background-image: url("../../images/__logo_blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-top: 30px;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  font-size: 150px;
  font-weight: 700;
  color: #0f5c8c;
  justify-content: center;
}

.subtitle {
  font-size: 32px;
  padding-top: 30px;
  margin: 0;
  justify-content: left;
}
