.splash {
  // background-image: url("../../images/__logo_blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-top: 30px;
  height: 70vh;
  display: flex;
  flex-direction: row;
}

.rightColumn{
  width: 60%;
  background:#eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftColumn{
  width: 40%;
  background-image: url("../../images/geoghraphy2.jpg");
  background-size: cover;
  background-position: center;
}

.title {
  margin: 0;
  font-size: 100px;
  font-weight: 700;
  color: #0f5c8c;
  text-align: center;
}

.subtitle {
  font-size: 32px;
  padding-top: 30px;
  margin: 0;
}
