.footer__copyright {
  margin: 0;
}

.footer {
  margin: 0 auto 0 auto;
  min-height: 80px;
  max-width: 1460px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  // border-top: solid 1px #CBCAC5;
}

.footer__left {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0;
}

.footer__menu {
  margin: 0;
}

.footer__menu:hover{
  cursor: pointer;
  opacity: 0.7;
}

.underlined{
  text-decoration: underline
}
